@import "tailwindcss";

/* HOVER UNDERLINE EFFECT */

.hover-underline {
  position: relative;
}

.hover-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: -2px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

.hover-underline:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}



/* HOVER TEXT SWITCH EFFECT */

.swap-text {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 1em;
  line-height: 1em;
  cursor: pointer;
}

.swap-text .top,
.swap-text .bottom {
  display: flex;
}

.swap-text span span {
  display: inline-block;
  transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  transition-delay: calc(var(--i) * 0.03s); /* stagger timing */
}

/* bottom text sits below */
.swap-text .bottom {
  position: absolute;
  top: 100%;
  left: 0;
}

/* hover animation, letters move up one by one */
.swap-text:hover .top span {
  transform: translateY(-100%);
}

.swap-text:hover .bottom span {
  transform: translateY(-100%);
}



/* MOTION ANIMATIONS */

@layer utilities {
  @keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .animate-slideInLeft {
    animation: slideInLeft 2s cubic-bezier(0.25, 1, 0.5, 1) forwards,
    fadeIn 3s ease forwards;
  }

  .animate-slideInUp {
    animation: slideInUp 1.7s cubic-bezier(0.25, 1, 0.5, 1) forwards,
    fadeIn 3s ease forwards;
  }
}

